<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thomas.tapin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BIND_NFC_SERVICE" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tapinicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".EmployerMain" android:screenOrientation="portrait"/>
        <activity android:name=".EmployerLogin" android:screenOrientation="portrait"/>
        <activity android:name=".add" android:screenOrientation="portrait"/>
        <activity android:name=".add2" android:screenOrientation="portrait"/>
        <activity android:name=".add3" android:screenOrientation="portrait"/>
        <activity android:name=".nfcCheck" android:screenOrientation="portrait"/>
        <activity android:name=".view" android:screenOrientation="portrait"/>
        <activity android:name=".addTimetables" android:screenOrientation="portrait"/>
        <activity android:name=".timetableForm" android:screenOrientation="portrait"/>
        <activity android:name=".employeeTimetable" android:screenOrientation="portrait"/>
        <activity android:name=".HubMain" android:screenOrientation="portrait"/>
        <activity android:name=".ClockIn" android:screenOrientation="portrait"/>
        <activity android:name=".EmployeeLogin" android:screenOrientation="portrait"/>
        <activity android:name=".EmployeeMain" android:screenOrientation="portrait"/>
        <activity android:name=".Choose_week" android:screenOrientation="portrait"/>
        <activity android:name=".timetableForm2" android:screenOrientation="portrait"></activity>
    </application>

</manifest>